# SQL Basic Statements

## Lesson Goals

- Use the `SELECT` statement to read data.
- Introduce the `DISTINCT` keyword and `WHERE` clause for filtering.
- Understand MySQL operators.
- Create aliases using `AS`.

## Lesson Vocabulary

- **A Query** is a request that returns information or records. A query can contain multiple clauses and subclauses, each containing one or more SQL keywords, but it can also be as simple as a `SELECT *` statement that returns all fields followed by a `FROM table_name` clause indicating the table you want the data to come from.


- **A Statement** is any valid piece of code that is executable by a RDBMS.
    - `SELECT`, `SELECT DISTINCT`


- **A Clause** is a subsection of a query that contains at least one keyword and the accompanying information, like fields or tables, to be used with the keyword.
    - `FROM`, `WHERE`


- **A Keyword** is a reserved word that performs an operation.
    - `SELECT`, `DISTINCT`, `FROM`, `WHERE`, `LIKE`
    

- **Filtering** can narrow the result set returned by your query.

___

## What Are the Elements of the SQL Select Statement?

![SQL SELECT Statement Elements](https://i.pinimg.com/564x/1c/56/71/1c5671e3ddb2d4a9f30d5aac74811cb3.jpg)

___

## So What Does Each Element Do?

![SQL SELECT Statement Elements Explained](https://i.pinimg.com/564x/a7/03/77/a703774088ba9335de0a6b16207271d4.jpg)

___

## Now What?

### Basic `SELECT` Statement

```sql
-- Select the database.
USE fruits_db;

-- Inspect the columns and data types from a table.
DESCRIBE fruits;

-- Another way to Inspect the columns and data types from a table.
SHOW COLUMNS
FROM fruits;

-- Return all of the rows and columns from a table.
SELECT *
FROM fruits;

-- Select specific column(s) and all of the rows from those column(s).
SELECT name
FROM fruits;

SELECT name, quantity
FROM fruits;
```

___

### `SELECT DISTINCT` Statement

```sql
-- Use chiplotle database to demo a db with duplicates.
USE chipotle;

-- Inspect the columns and data types from a table.
DESCRIBE orders;

-- Return all of the rows and columns from a table. (4622 records returned)
SELECT *
FROM orders;

/*
Select specific column(s) and all of the rows from those column(s). 
(4622 records returned)
*/

SELECT item_name
FROM orders;

SELECT 
    item_name, 
    item_price
FROM orders;

/*
Return only the unique values from a column using the DISTINCT keyword 
(50 records returned)
*/

SELECT DISTINCT item_name
FROM orders;
```

___

### The `WHERE` Clause

```sql
/*
Filter so that only records with the value 'Chicken Bowl' in item_name are returned.
(726 records returned)
*/

SELECT *
FROM orders
WHERE item_name = 'Chicken Bowl';

-- Why doesn't the query below run? Never forget this lesson!

SELECT *
FROM orders
WHERE item_price = $4.45;

/*
Filter using the primary key column; only one record will be returned because the value must be unique.
*/

SELECT *
FROM orders
WHERE id = 15;
```

___

#### Use More Operators with `WHERE` Clause

```sql
-- Filter using a WHERE clause with the BETWEEN & AND operators. (Returns 39 records)

SELECT *
FROM orders 
WHERE quantity BETWEEN 3 AND 5;

-- Filter using a WHERE statement >, <, <> operators. 

-- (returns 870 records)
SELECT *
FROM orders 
WHERE order_id > 1500;

-- (returns 267 records)
SELECT *
FROM orders
WHERE quantity <> 1;
```

___

### Create Alias Using `AS`

```sql
-- Create an alias for a column using the AS keyword. (Returns 267 records)

SELECT 
    item_name AS 'Multiple Item Order',
    quantity AS Number
FROM orders
WHERE quantity >= 2;

/*
Notice that if I have spaces in my column alias, I have to put it in single quotes.
If I do not have a space in my colum alias, I do not have to put it in quotes.
*/
```